@use 'globals';
@use 'components';
@use 'util' as *;


body {
    background-color: var(--very-dark-blue-bg);
    color: var(--white-text);
}

.section-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(60);
}

.section-heading__col-right {
    display: flex;
}

h1 {
    margin-bottom: 0;
}

.followers-count {
    font-size: rem(13);
    color: var(--desaturated-blue-text);
}

#fem-smd {
    padding: rem(40) 0;
}

.sub-title {
    margin-top: rem(60);

    h2 {
        margin-bottom: rem(10);
    }
}